*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrap{
    width: 1000px;
    height: 400px;
    border: 3px solid black;
    margin: 50px auto;
    /* overflow: hidden; */
    position: relative;
}

.img_wrap{
    width: 3000px;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.con{
    width: 1000px;
    height: 100%;
    border: 2px solid salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.arrow{
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left{
    left: 0;
}

.right{
    right: 0;
}

